* {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration-line: none;
  transition: color 0.1s ease-in-out; 
}
a:hover {
  color: palevioletred;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; }

.container { 
  max-width: 1060px;
  margin: 0 auto;
}

@media only screen and (max-width: 1080px) {
  .container {
    margin: 0 10px;
  }
}
